*{
	margin:0;
	padding:0;
}

body{
font-size: 16px;
font-family: "Trebuchet MS", Helvetica, sans-serif;
background: #e6e6e6;
}

header {
	background: #f7b000;
	padding: 15px;
	text-align: center;
}

#logo, nav {
	padding: 10px;
}

h1{
	color: #4e4e4e;
	font-size: 40px;
}

.branco{
	color: #fff;
}

a {
	text-decoration: none;
}

a:link,a:visited{
	color:#fff;
}

a:link,a:visited{
	color:#fff;
	padding:8px 12px;
}

a:hover{
	color:#f7b600;
	background:;
}

#post{
	width: 660px;
	float: left;
}

#sidebar{
	width:240px;
	float:right;
}

section {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	}

footer{
	background: #ccc;
	clear:both;
	text-align: center
	padding: 15px;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

img{
	width: 620px;
}

.dataPost{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
	padding:10px
}



a{
	text-decoration: none;
	}

a:link, a:visited{
	color:#f7b600;
}


a:hover{
	text-decoration: underline;
}

nav a:link, nav a:visited{
	color:#fff;
	padding: 8px 12px;
}

nav a:hover{
	color: #f7b600;
	background: #fff;
    text-decoration: none;
}

.conteudo-lateral {
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

h3{
	color: #565656;
	background: #ccc;
	padding: 5px;
}
.texto-lateral{
	font-size: 0.8em;
	padding: 5px;

}